# our output folders
/src
/out
/web
/jsdoc

# python cache in any folder
__pycache__
*.pyo
*.pyc

# nodejs modules
/node_modules

# template config file
/.tdefs.config

# stamps for various purposes
*.stamp
