# our output folders
/src
/out
/web
/jsdoc

# python cache in any folder
__pycache__
*.pyo
*.pyc

# nodejs modules
/node_modules

# stamps for various purposes
*.stamp

# templar generated
/.tdefs.config
