# our output folders
/src
/out
/web
/jsdoc

# python cache in any folder
__pycache__
*.pyo
*.pyc

# stamps for various purposes
/*.stamp

# templar generated
/.tdefs.config

# nodejs downloaded code
/node_modules

# third parties
/thirdparty
