{% set project = load_lua(path="config/project.lua") -%}
{% set personal = load_lua(path="config/personal.lua") -%}
{% set jschess = load_lua(path="config/jschess.lua") -%}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ project.NAME }} - Config options</title>
		<link rel="shortcut icon" href="favicon.ico"/>

		{{ jschess.JSCHESS_JS_SECTION | safe }}

		{{ jschess.JSCHESS_JS_SECTION_HIGHLIGHT | safe }}

		<script type="text/javascript">
			document.observe('dom:loaded', function() {
				// print the configuration to div 'myid'
				var config=SvgConfigTmpl.getInstance();
				var myhtml=config.getHTML();
				$('myid').innerHTML=myhtml;
			})
		</script>
	</head>
	<body>
		<h1>Config options</h1>
		<p>
		These are the configuration options that <b>jschess</b> supports:
		</p>
		<div id="myid">
		</div>
		<p>
			Copyright {{ personal.FULLNAME }} © {{ copyright_years() }}
			<a href="{{ personal.EMAIL }}">{{ personal.EMAIL }}</a>
		</p>
	</body>
</html>
