{% set project = load_lua(path="config/project.lua") -%}
{% set personal = load_lua(path="config/personal.lua") -%}
{% set jschess = load_lua(path="config/jschess.lua") -%}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ project.NAME }} - Showing controls</title>
		<link rel="shortcut icon" href="favicon.ico"/>

		{{ jschess.JSCHESS_JS_SECTION | safe }}

		{{ jschess.JSCHESS_JS_SECTION_HIGHLIGHT | safe }}

		<script type="text/javascript">
			document.observe('dom:loaded', function() {
				var controls=new Controls({
					id:'myid'
				})
			})
		</script>
	</head>
	<body>
		<h1>Showing controls</h1>
		<p>
		A controls object is one which allows you to control a prerecorded game.
		It provides with 6 buttons to control the game.
		You need a place for your controls, so place something like this somewhere in your html:
		</p>
		<pre><code class="html">&lt;div id=&quot;myid&quot;&gt;&lt;/div&gt;</code></pre>
		Then you can create a Controls object from your javascript code by calling the constructor of Controls.
		<pre><code class="js">var controls=new Controls({
	id:&#x27;myid&#x27;
})</code></pre>
		<p>
		Here is the result:
		</p>
		<div id="myid"></div>
		<p>
			Copyright {{ personal.FULLNAME }} © {{ copyright_years() }}
			<a href="{{ personal.EMAIL }}">{{ personal.EMAIL }}</a>
		</p>
	</body>
</html>
