{% set project = load_lua(path="config/project.lua") -%}
{% set personal = load_lua(path="config/personal.lua") -%}
{% set jschess = load_lua(path="config/jschess.lua") -%}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ project.NAME }} - QUnit testing page</title>
		<link rel="shortcut icon" href="favicon.ico"/>

		<!-- qunit -->
		<link type="text/css" rel="stylesheet" href="third_party/qunit.css"/>

		{{ jschess.JSCHESS_JS_SECTION | safe }}
	</head>
	<body>
		<div id="qunit"></div>
		<!-- this MUST be the position at which to import qunit.js -->
		<script type="text/javascript" src="third_party/qunit.js"></script>
		<script type="text/javascript" src="tests/Tests.js"></script>
		<p>
			Copyright {{ personal.FULLNAME }} © {{ copyright_years() }}
			<a href="{{ personal.EMAIL }}">{{ personal.EMAIL }}</a>
		</p>
	</body>
</html>
